<!DOCTYPE html>
<html lang="en">
  <%- include('./layout/head.ejs') %>

  <body id="page-top">
    <div id="wrapper">
      <%- include('./layout/sidebar.ejs') %>

      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          <%- include('./layout/navbar.ejs') %>
          <div class="artist-page">
            <div class="form-container">
              <div id="response"></div>
              <h1>Change Password</h1>
              <p class="subtitle">
                Please enter your old password and new password below.
              </p>

              <form method="PUT" id="changepassword">
                <div class="mb-3">
                  <label for="oldPassword" class="form-label"
                    >Old Password</label
                  >
                  <input
                    type="password"
                    class="form-control"
                    id="oldPassword"
                    name="oldPassword"
                    placeholder="Enter old password"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="newPassword" class="form-label"
                    >New Password</label
                  >
                  <input
                    type="password"
                    class="form-control"
                    id="newPassword"
                    name="newPassword"
                    placeholder="Enter new password"
                    required
                  />
                </div>
                <div class="mb-4">
                  <label for="confirmPassword" class="form-label"
                    >Confirm New Password</label
                  >
                  <input
                    type="password"
                    class="form-control"
                    id="confirmPassword"
                    name="confirmPassword"
                    placeholder="Confirm new password"
                    required
                  />
                </div>
                <button type="submit" class="btn btn-primary">
                  Change Password
                </button>
              </form>
            </div>
          </div>
        </div>

        <%- include('./layout/footer.ejs') %>
      </div>
    </div>

    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>
  </body>

  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <script src="js/sb-admin-2.min.js"></script>

  <script src="vendor/chart.js/Chart.min.js"></script>

  <script>
    $(document).ready(function () {
      $("#changepassword").submit(function (event) {
        event.preventDefault();
        $("#response").html("");
        $("#changepassword button").prop("disabled", true).text("Loading...");
        $.ajax({
          type: "PUT",
          url: "/admin/changepassword",
          data: $("#changepassword").serialize(),
          dataType: "json",
          success: function (response) {
            $("#changepassword button")
              .prop("disabled", false)
              .text("Change Password");
            $("#response").html(
              `<p style="color:green;">${response?.message}</p>`
            );
            ClearForm();
          },
          error: function (error) {
            $("#changepassword button")
              .prop("disabled", false)
              .text("Change Password");
            $("#response").html(
              `<p style="color:red;">${error?.responseJSON?.message}</p>`
            );
          },
        });
      });

      function ClearForm() {
        $("#oldPassword").val("");
        $("#newPassword").val("");
        $("#confirmPassword").val("");
      }
    });
  </script>
</html>
