<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head.ejs') %>

  <body>
    <div class="login-page">
      <div class="form-container">
        <div id="response"></div>
        <h1>Forgot Password</h1>
        <p class="subtitle">Please enter your new password below.</p>

        <form method="POST" id="forgotpassword">
          <div class="mb-3">
            <label for="password" class="form-label">New Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              placeholder="Enter new password"
              required
            />
          </div>
          <div class="mb-4">
            <label for="confirmPassword" class="form-label"
              >Confirm Password</label
            >
            <input
              type="password"
              class="form-control"
              id="confirmPassword"
              name="confirmPassword"
              placeholder="Confirm new password"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary">Reset Password</button>
        </form>
      </div>
    </div>
  </body>

  <script>
    const token = "<%= token %>";
    $(document).ready(function () {
      $("#forgotpassword").submit(function (e) {
        e.preventDefault();

        $("#response").html("");
        $("#forgotpassword button").prop("disabled", true).text("Resetting...");

        $.ajax({
          type: "POST",
          url: `/api/v1/auth/forgotresetpassword/${token}`,
          data: $("#forgotpassword").serialize(),
          dataType: "json",
          success: function (response) {
            $("#response").html(
              `<p style="color:green;">${response?.message}</p>`
            );

            $("#forgotpassword button")
              .prop("disabled", false)
              .text("Reset Password");

            window.location.href = "/login";
          },
          error: function (error) {
            $("#response").html(
              `<p style="color:red;">${error?.responseJSON?.message}</p>`
            );

            $("#forgotpassword button")
              .prop("disabled", false)
              .text("Reset Password");
          },
        });
      });
    });
  </script>
</html>
